/* Regular */
@font-face {
  font-family: "AtkinsonMono";
  src: url("/fonts/Atkinson_Hyperlegible_Mono/static/AtkinsonHyperlegibleMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "AtkinsonMono";
  src: url("/fonts/Atkinson_Hyperlegible_Mono/static/AtkinsonHyperlegibleMono-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "AtkinsonMono";
  src: url("/fonts/Atkinson_Hyperlegible_Mono/static/AtkinsonHyperlegibleMono-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "AtkinsonMono";
  src: url("/fonts/Atkinson_Hyperlegible_Mono/static/AtkinsonHyperlegibleMono-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "AtkinsonMono";
  src: url("/fonts/Atkinson_Hyperlegible_Mono/static/AtkinsonHyperlegibleMono-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Light */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-space: "SpaceGrotesk", sans-serif;
  --font-atkinson: "AtkinsonMono", monospace;
}
