@import "tailwindcss";

:root {
  --background: #151515;
  --secondary: #c70e1a;
  --border: #f19594;
  --text-color: #ffffff;
  --font-sans: var(--font-space);
  --font-mono: var(--font-atkinson);
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-text: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --secondary: #c70e1a;
    --color-border: #f19594;
    --text-color: #ffffff;
    --font-sans: var(--font-space);
    --font-mono: var(--font-atkinson);
  }
}
* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

section {
  @apply container mx-auto py-4 px-6 w-full relative text-text;
}

h1 {
  @apply text-text/90 text-4xl lg:text-5xl xl:text-6xl w-full font-semibold lg:leading-20 xl:leading-14;
}

p {
  @apply text-white/90 text-sm lg:text-xl;
}

@utility bg-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}

@utility from-secondary-40 {
  --tw-gradient-from: rgb(199 14 26 / 0.4);
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(199 14 26 / 0));
}

@utility via-secondary-10 {
  --tw-gradient-stops: var(--tw-gradient-from), rgb(199 14 26 / 0.1),
    var(--tw-gradient-to, rgb(199 14 26 / 0));
}

@utility to-transparent {
  --tw-gradient-to: transparent;
}
.text-stroke {
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.5);
  color: transparent;
}
* {
  box-sizing: border-box;
}
